@use '../../assets/styles/templates' as t;

.deviceHistoryContainer {
  max-width: 95vw;
  margin: 50px auto;
  padding-bottom: 20px;
  border-radius: 8px;

  .title {
    color: t.$mainTextColor;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6rem; // нормальный стартовый размер
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; // чтобы колонки растягивались
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1rem; // базовый размер
  }

  th {
    background-color: t.$khakiPrimary;
    color: t.$cardColor;
    font-weight: bold;
 
  }

  td {
    color: t.$secondaryTextColor;
    background-color: #fcf8db91;
  }

  tr:hover td {
    background-color: #fffad0;
  }

  tr:nth-child(even) td {
    background-color: #fcf8db;
  }

  a {
    color: t.$khakiPrimary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  /* === Адаптив === */
  @media (min-width: 1440px) {
    max-width: 80vw;
    .title {
      font-size: 1rem;
    }
    th,
    td {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 1024px) {
    max-width: 95vw;

    .title {
      font-size: 1.4rem;
    }

    th,
    td {
      padding: 10px;
      font-size: 0.95rem;
    }
  }

  @media (max-width: 768px) {
    margin: 30px auto;
    overflow-x: auto; // чтобы таблица прокручивалась
    -webkit-overflow-scrolling: touch;

    .title {
      font-size: 1.2rem;
    }

    table {
      display: block;
      width: max-content; // чтобы не сжималась
      min-width: 100%;
    }

    th,
    td {
      padding: 8px;
      font-size: 0.85rem;
    }
  }
}
