.dashboardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
}

.title {
  color: #7fa480fc;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 0;
}

.card {
  width: calc(25% - 15px); /* 4 карточки в ряду (25% ширины минус отступы) */
  padding: 15px;
  background-color: #fff;
  border: 1px solid #7fa4806b;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dataList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 1%;
  border: 1px solid #7fa4801a;
  transition: transform 0.2s, background-color 0.3s;
}

.dataRow:hover {
  transform: scale(1.05);
  background-color: #f0f7f4;
}

.label {
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding-right: 3%;
  
}

.text {
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: #7fa480fc;
  
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.unit {
  margin-left: 1%;
  text-align: end;
  color: #7fa480c7;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
  .card {
    width: calc(33.33% - 15px); /* 3 карточки в ряду */
  }
}

@media (max-width: 992px) {
  .card {
    width: calc(50% - 15px); /* 2 карточки в ряду */
  }

  .text {
    font-size: 1.8rem; /* Уменьшаем размер текста */
  }

  .label {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 15px); /* 2 карточки в ряду */
  }

  .text {
    font-size: 1.6rem; /* Еще меньше размер текста */
  }

  .label {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%; /* 1 карточка в ряду */
  }

  .text {
    font-size: 1.4rem; /* Минимальный размер текста */
  }

  .label {
    font-size: 0.9rem;
  }
}