@use '../../assets/styles/templates' as templates; // Импорт переменных

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: templates.$cardColor;
  color: templates.$secondaryTextColor;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 24px;
    color: templates.$khakiPrimary;
    margin-bottom: 20px;
  }

  &__upload-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
 
  }

  &__file-input {
    padding: 10px;
    border: 1px solid templates.$khakiPrimary;
    border-radius: 5px;
    font-size: 14px;
    outline: none;

    &:focus {
      border-color: darken(templates.$khakiPrimary, 10%);
      
    }
  }
  &__note{
    font-size: 10px;
   padding-bottom: 2%
  }

  &__download-button {
    @include templates.default-button-style(10px 10px, 14px, 5px);
  }
  

  &__table-section {
    margin-top: 20px;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &-header {
      background-color: templates.$khakiPrimary;
      color: #fff;
    }

    &-header-cell {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }

    &-body {
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    }

    &-row {
      &:hover {
        background-color: lighten(templates.$khakiPrimary, 20%);
      }
    }

    &-cell {
      padding: 10px;
      text-align: left;
      border: 1px solid #ddd;
    }
  }
  &__saveButton {
    @include templates.default-button-style(10px 10px, 14px, 5px);
  }
}
